  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Varela+Round&display=swap');
body{
    background-color: aliceblue;
}
*
{
    margin: 0;
    padding: 0;
}
nav
{
font-family: 'playfire Display',sans serif;
}
nav ul
{
display: flex;
align-items: center;
list-style-type:none;
height: 55px;
background-color: black;
color: antiquewhite;
}
nav ul li
{
    padding: 0 15px;
}
.brand img
{
    width: 52px;
    padding: 0 10px;
}

.brand{
  display: flex;
  align-items: center;
  font-weight: bolder;
   font-size: 1.3rem;
}
.container{
    min-height: 71vh;
    background-color:slategray;
    color: cornsilk;
    font-family: 'varela Round',sans-serif;
    display: flex;
    margin: 30px auto;
    width: 80% ;
    border-radius: 10px;
    padding: 30px;
    background-image: url('background.jpg');
}
.bottom{
    position:sticky;
    height: 150px;
    background-color:black;
    color: white;
    bottom:0;
    display:flex;
justify-content: center;
align-items:center;
flex-direction: column; 
}
.icons{
    margin-top: 10px ;
}
.icons i{
    cursor: pointer;

}
#progressBar{
    width: 95vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 70px;
}
.songItem{
    height: 50px;
    display:flex;
    background-color: antiquewhite;
    color: black;
    justify-content: space-between;
    align-items: center;
     margin: 10px 0;
     border-radius: 35px;

}
.songItem img{
    width: 45px;
    margin:0 23px;
    border-radius: 30px;
}
.timestamp
{
    margin: 0 20px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position:absolute;
    left:8vw;
    font-family: 'varela Round',sans-serif;
}
.songInfo img{
   opacity: 1;
   transition: opacity 0.5 ease-in; 
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lavender;
    }
  }